<!-- TITLE -->
<mat-toolbar class="header_toolbar" color="primary">Completed Tasks</mat-toolbar>

<mat-accordion multi="true" *ngIf="tasks.length > 0">
  <mat-expansion-panel *ngFor="let task of tasks">
    <mat-expansion-panel-header>
      {{ task.task_name }}
      <i style="float: right;" class="material-icons">done_outline</i>
    </mat-expansion-panel-header>
    
    <mat-card class="display_card">
      <mat-card-content>
        <div class="card_content_wrapper">
          <mat-divider></mat-divider>
          <mat-list>
            <mat-list-item>
              <h4>Date:</h4>
              <div class="custom_p_date">
                <p>{{ task.date }}</p>
              </div>
            </mat-list-item>
            <mat-list-item>
              <h4>Priority:</h4>
              <mat-radio-group [ngModel]="task.priority" disabled="true">
                <mat-radio-button name="priority1" value="1">!</mat-radio-button>
                <mat-radio-button name="priority2" value="2">!!</mat-radio-button>
                <mat-radio-button name="priority3" value="3">!!!</mat-radio-button>
              </mat-radio-group>
            </mat-list-item>
          </mat-list>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="accent" (click)="openDialog(task._id, task.note)">NOTE</button>
        <button mat-button color="warn" (click)="onDelete(task._id)">DELETE</button>
        <button mat-button class="complete-button" color="accent" (click)="onUnComplete(task._id)">UNCOMPLETED</button>
      </mat-card-actions>
    </mat-card>
  </mat-expansion-panel>
</mat-accordion>

<h2 class="informationMessage" *ngIf="tasks.length <= 0">Either no tasks in the database or marked complete</h2>
